---
import Base from '../layouts/Base.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Base>
  <Navbar />
  <main>
    <Hero />
    <Services />
    <HowItWorks />
    <Contact />
  </main>
  <Footer />
</Base>